version: "3.8"
services:
  mongodb:
    image: mongo:latest
    platform: linux/arm64/v8
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    environment:
      MONGO_INITDB_DATABASE: moonshake

volumes:
  mongodb_data:
